.project.pem {

  .icon-graph {
    font-size: 7rem;

  }

  .section-dev {
    background-color: $gray-lighter;
    .section-header {
      color: white;
    }
  }

  .section-ux {
    background-color: white;
    .section-header {
      color: $gray-lighter;
    }
  }
}
