.polestar {
  .summary-polestar {
    background-color: #0d3349;
  }

  .ux-polestar {
    background-color: #155478;
    height: 160vh !important;
  }

  .dev-polestar {
    background-color: #2180b7;
  }

  .design-polestar {
   position: relative;
    background-color: #29a1e6;
    padding-bottom: 150px;
    margin-bottom: 300px;
    z-index: 3;
  }

}

