.polestar {
  .summary-polestar {
    background-color: #1d73a4;
    //color: #ffffff;
  }

  .ux-polestar {
    background-color: #ffffff;
    //height: 160vh !important;
  }

  .dev-polestar {
    //background-color: $color-grey-middle;
  }

  .design-polestar {
   position: relative;
    //background-color: #ffffff;
    padding-bottom: 150px;
    margin-bottom: 300px;
    z-index: 3;
  }

}

