/* colors */

$gray-darker:            lighten(#000, 13.5%) !default; // #222
$gray-dark:              lighten(#000, 20%) !default;   // #333
$gray:                   lighten(#000, 33.5%) !default; // #555
$gray-light:             lighten(#000, 60%) !default;   // #999
$gray-lighter:           lighten(#000, 93.5%) !default; // #eee
//$gray-lighter:           #ccc9c3 !default; // #eee

$color-white: #fdfdfd;
$color-black: #232323;
$color-text: $color-black;

$menu-bg-color: black;

/* padding & margins */

$padding-base-vertical:     0.6rem !default;
$padding-base-horizontal:   1rem !default;

$padding-large-vertical:    1rem !default;
$padding-large-horizontal:  1.6rem !default;

$padding-small-vertical:    5px !default;
$padding-small-horizontal:  10px !default;

$padding-xs-vertical:       1px !default;
$padding-xs-horizontal:     5px !default;

$line-height-large:         1.33 !default;
$line-height-small:         1.5 !default;

$border-radius-base:        3px !default;
$border-radius-large:       6px !default;
$border-radius-small:       2px !default;

$margin-base: $padding-base-horizontal $padding-base-vertical;


// components
$side-nav-width: 3.3rem;
$project-footer-height: 5rem;

//media queries
$screen-sm: 650px;
$screen-md: 768px;
$screen-lg: 1024px;

//z-index layers
$index-menu: 50;
$index-top: 49;
$index-middle: 25;
$index-base: 1;



