/* colors */
$color-text: #5d5d5d;
$color-grey-middle: #9F9F9F;
$color-grey-dark: #5D5D5D;


/* padding & margins */
$margin-base: $padding-base-horizontal $padding-base-vertical;


$side-nav-width: 5rem;
