@import url(https://fonts.googleapis.com/css?family=Roboto:300|Raleway|Share|Metrophobic|Allerta+Stencil|Sarina|Aldrich|PT+Sans+Narrow|Ubuntu+Condensed|Wire+One);
@import '_normalize';
@import 'variables';
@import 'mixins';
@import "linear";
@import "side-nav";

/**
 * Common styles
 */
body {
  margin: 0;
  width: 100vw;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 120%;
  color: $color-text;
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: $screen-sm){
    font-size: 100%;
  }
}

a {
  text-decoration: none;
  color: $color-text;
}

div {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Share Tech Mono', serif;
  text-transform: uppercase;
  margin: 0;
}



.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 1rem;

  @media (min-width: $screen-md){
    padding: 1rem 3rem;
  }

  @media (min-width: $screen-lg){
    padding: 1rem 4rem;
  }
}


.row {
  display: flex;
  flex-flow: row wrap;
  .col-5 {
    flex-basis: calc(41.66% - 1rem);
  }
  .col-7 {
    flex-basis: calc(58.33%  - 1rem);
  }
}

.padding {
  padding: $padding-base-horizontal;
}

.spacer {
  min-height: 3rem;
}

.center-hzl {
  display: flex;
  justify-content: center;

}

.center-vert {
  display: flex;
  align-items: center;

}

.hide {
  visibility: hidden;
  opacity: 0;
}

.show {
  visibility: visible;
  opacity: 1;
}

.separator {
  width: 13vw;
  margin: 3rem auto;
  border-bottom: 4px solid $color-accent;
}


// injector
@import '_animations.scss';
@import '_fontello.scss';
@import '_linear.scss';
@import '_normalize.scss';
@import '_side-nav.scss';
@import 'about/about.scss';
@import 'contact/contact.scss';
@import 'home/home.scss';
@import 'notes/post.scss';
@import 'top-nav.scss';
@import 'work/projects/bis/bis.scss';
@import 'work/projects/pem/pem.scss';
@import 'work/projects/projects.scss';
@import 'work/projects/weather+/weather-plus.scss';
@import 'work/work.scss';
// endinjector
