@import url('https://fonts.googleapis.com/css?family=Roboto:300,100|Merriweather+Sans|Spectral+SC|Denk+One');
//@import url('https://fonts.googleapis.com/css?family=Noto+Sans:700|Source+Sans+Pro:700')
//@import url('https://fonts.googleapis.com/css?family=Anton|Arvo|Fjalla+One|Oswald|Palanquin+Dark|Rubik+Mono+One|Exo+2|Rubik|Play|Orbitron');
// injector
@import '__normalize.scss';
@import '_animations.scss';
@import '_fontello.scss';
@import '_linear.scss';
@import '_tansformicons.scss';
@import 'about/about.scss';
@import 'contact/contact.scss';
@import 'home/home.scss';
@import 'home/tilteffect.scss';
@import 'notes/post.scss';
@import 'work/footer-nav.scss';
@import 'work/projects/bis/bis.scss';
@import 'work/projects/pem/pem.scss';
@import 'work/projects/projects.scss';
@import 'work/projects/turnip/turnip.scss';
@import 'work/projects/weather+/weather-plus.scss';
@import 'work/side-nav.scss';
@import 'work/work.scss';
// endinjector

/**
 * Common styles
 */
body {
  margin: 0;
  width: 100vw;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 130%;
  color: $color-text;
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: $screen-sm) {
    font-size: 100%;
  }

  @media (min-width:$screen-sm) and (max-width: $screen-md) {
    font-size: 120%;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Spectral SC', serif;
  text-transform: uppercase;
  margin: 0;
}

a {
  text-decoration: none;
  color: $color-text;
}

div,
section {
  box-sizing: border-box;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 1rem;

  @media (min-width: $screen-md){
    padding: 1rem 3rem;
  }

  @media (min-width: $screen-lg){
    padding: 1rem 4rem;
  }
}

.text-centered {
  text-align: center;
}

.row {
  display: flex;
  flex-flow: row wrap;
  .col-5 {
    flex-basis: calc(41.66% - 1rem);
    flex-grow: 1;
  }
  .col-7 {
    flex-basis: calc(58.33%  - 1rem);
    flex-grow: 1;
  }
}

.padding {
  padding: $padding-base-horizontal;
}

.spacer {
  min-height: 3rem;
}

.center-hzl {
  display: flex;
  justify-content: center;

}

.center-vert {
  display: flex;
  align-items: center;

}

.hide {
  visibility: hidden;
  opacity: 0;
}

.show {
  visibility: visible;
  opacity: 1;
}

.separator {
  width: 13vw;
  margin: 3rem auto;
  border-bottom: 4px solid $color-accent;
}
