<div class="side-nav">
  <div class="nav-wrap">
  <nav class="hamburger-nav">
    <ul class="top-nav">
      <li class="hamburger-menu">
        <span class="lnr lnr-menu"></span>
      </li>
      <ul class="sub-nav">
      <li class="menu-item"><a ui-sref="home({ section: {name: 'home'} })">Home</a></li>
        <ul class="project-nav">
          <i>Projects:</i>
          <li class="menu-item"><a ui-sref="home({ section: {name: 'home'} })"><h4>BIS</h4></a></li>
          <li class="menu-item"><a ui-sref="home({ section: {name: 'home'} })"><h4>Weather+</h4></a></li>
          <li class="menu-item"><a ui-sref="home({ section: {name: 'home'} })"><h4>PEM</h4></a></li>
          <li class="menu-item"><a ui-sref="home({ section: {name: 'home'} })"><h4>Turnip</h4></a></li>
        </ul>
      <li class="menu-item"><a ui-sref="home({ section: {name: 'about'} })">About</a></li>
      <li class="menu-item"><a ui-sref="home({ section: {name: 'contact'}})">Connect</a></li>
      </ul>

    </ul>
  </nav>
  </div>
  <div class="section-indicator">
    <ul>
      <li ng-click="scrollTo('summary')" class="section-link-summary active"><h4>Project: {{project.name}}</h4></li>
      <li ng-repeat="section in project.articleSections" class="section-link-{{section.id}}"
          ng-click="scrollTo(section.id)">
        <h4>{{section.name}}</h4></li>
    </ul>
  </div>
</div>
