.navbar {
  position: fixed;
  width: 100%;
  //background-color: #fff;
  @include flex-container();
  justify-content: flex-end;
  border-bottom: 1px solid $color-grey-middle;
  background-color: rgba(#ffffff, 0.8);

  ul {
    @include reset-list();
    @include flex-container();
    padding: 0 $padding-base-horizontal;
    //background-color: #ffffff;
  }

  .menu-item {
    position: relative;
    top: 2px;
    margin: $padding-base-vertical $padding-base-horizontal 0 $padding-base-horizontal;
    padding: 0 $padding-small-vertical;
    border-bottom: 2px solid transparent;

    a {
      display: inline-block;
      text-decoration: none;
      color: $color-text;
      padding: 1rem 0;
      cursor: pointer;
    }

    &:hover {
      border-bottom: 4px solid $color-grey-dark;
    }

    &.active {
      border-bottom: 4px solid $color-accent;
    }
  }

}


