@import '../../variables';

.project {
  margin-bottom: $project-footer-height;
  border-bottom: 1px solid black;

  &-header {
    position: relative;
    height: calc(100vh - #{$border-width} * 2);
    width: calc(100vw - #{$border-width} * 2);
    margin: $border-width 0 0 $border-width;

    background-position: 60% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    backface-visibility: hidden;
    z-index: 20;

  }

  &-header.weather-plus {
    background-image: url(../../../assets/images/weather+/ship-in-storm.png);
  }

  &-header.pem {
    background-image: url(../../../assets/images/pem/ship-exhaust.png);
  }

  &-header.bis {
    background-image: url(../../../assets/images/bis/basel.png);
  }

  &-header.turnip {
    background-image: url(../../../assets/images/turnip/devices.png);
  }

  .bg-mask {
    position: relative;
    top: 100vh;
    width: 100vw;
    min-height: 60vh;
    background-color: white;
    z-index: 20;
  }

  section {
    position: relative;
    min-height: 100vh;
    z-index: 2;
    line-height: 1.8rem;
    padding: 0 2rem 2rem calc(#{$side-nav-width} + 2rem);
    @media (max-width: $screen-sm) {
      padding-left: 2rem;
    }

  }

  .section-header {
    position: relative;
    overflow: hidden;
    padding-right: 10%;
    text-align: right;
    margin-bottom: 2rem;
    color: $gray-lighter;
    h1 {
      position: relative;
      top: -3px;
      margin: 0;
      padding: 0;
      vertical-align: top;
      text-transform: uppercase;
      @media (max-width: $screen-sm) {
        top: -6px;
      }
    }
  }

  .section-summary {
     position: relative;
     min-height: 60vh;
     background-color: white;
     z-index: 21;



    .summary-header {
      position: relative;
      top: 0;

      .icon-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
      }

     // left: $side-nav-width;
      width: calc(100vw - (#{$side-nav-width} + 2rem )* 2);
      @media (max-width: $screen-sm) {
        width: calc(100vw - (2rem * 2));
      }

      background-color: white;

      h1 {
        //font-family: 'Spectral SC', serif;
        font-size: 3rem;
        line-height: 3rem;
        width: 100%;
        text-transform: none;
        text-align: center;
        padding-top: 2.5rem;
      }

      .summary-icon {
        display: block;
        width: 12vw;
        height: auto;
        margin: 2rem auto 2rem auto;
      }

      .summary-text {
        padding: 2rem 15vw;
        @media (max-width: $screen-sm) {
          padding: 1rem;
        }

        @media (max-width: $screen-md) {
          padding: 2rem 8vw;
        }


      }
    }
  }

  .section-design,
  .section-ux {
    background-color: $gray-lighter;
    .section-header {
      color: white;
    }
  }

  .section-dev {
    background-color: white;

  }

  .prjct-img-size-max {
    display: block;
    max-width: 80vw;
    height: auto;
    margin: 2rem auto;
    border: 1px solid $gray-light;
  }

  .prjct-img-size-md {
    display: block;
    max-width: 60vw;
    height: auto;
    margin: 2rem auto;
    border: 1px solid $gray-light;
  }

  @media (max-width: $screen-sm) {
    .prjct-img-size-md,
    .prjct-img-size-max
    {
      max-width: 100%;
      margin: 1rem;
    }
  }

}







