.project {
  margin-bottom: 200px;

  section {
    position: relative;
    min-height: 100vh;
    margin-left: $side-nav-width;
    z-index: 2;
    font-size: larger;
    line-height: 1.7rem;

    li {
      margin-bottom: 1rem;
    }
  }

  .section-summary {

    background-color: #ffffff;
    .container {
      padding: 5rem;
    }

    .summary-header {
      display: flex;
      justify-content: center;
      margin: 5vh 0;
    }
  }

  .section-ux {
    background-color: $gray-lighter;
  }

  .section-dev {
    background-color: #ffffff;
  }

  .section-design {
    background-color: $gray-lighter;
  }

}

.footer-nav {
  position: fixed;
  bottom: 0;
  height: 300px;
  width: 100vw;
  padding-left: 80px;
  color: $color-black;
  background-color: #ee872d;
  z-index: -1;
}

.footer-nav.visible {
  z-index: 2;
}




