$footer-height: 8rem;

.project {
  margin-bottom: $footer-height;
  border-bottom: 1px solid black;

  section {
    position: relative;
    min-height: 100vh;
    margin-left: $side-nav-width;
    z-index: 2;
    line-height: 2rem;
  }

  .section-summary {
    background-color: #ffffff;
    .container {
      padding: 5rem;
      @media (max-width: $screen-sm){
        padding: 1rem;
      }

      p {
        font-size: larger;
        line-height: 2.5rem;
      }
    }

    .summary-header {
      margin: 4vh 0;

      h1 {
        width: 100%;
        text-align: center;
      }

      .summary-icon {
        display: block;
        width: 15vw;
        height: auto;
        margin: 5rem auto 6rem auto;
      }
    }
  }

  .section-ux {
    background-color: $gray-lighter;
  }

  .section-dev {
    .dev-header {
      position: relative;
      overflow: hidden;
      padding-right: 10%;
      text-align: right;
      h1 {
        position: relative;
        top: -3px;
        margin: 0;
        padding: 0;
        vertical-align: top;
        text-transform: uppercase;
        color: $gray-light;
      }
    }
    background-color: #ffffff;
  }

  .section-design {
    background-color: $gray-lighter;
  }

  .prjct-img-size-max {
    display: block;
    max-width: 80vw;
    height: auto;
    margin: 2rem auto;
    border: 1px solid $gray-light;
  }

}

.footer-nav {
  position: fixed;
  bottom: 0;
  height: $footer-height;
  width: 100vw;
  padding: 0 40px 80px;
  color: white;
  font-weight: bold;
  background-image:
    linear-gradient(
        $color-accent, #952D22
    );

  .nav-container {
    //position: relative;
    //display: flex;
    //height: 3rem;
    justify-content: space-between;
    align-items: center;
  }

  .project-back-btn,
  .project-fwd-btn {
    font-size: 40px;
  }

  .more-icon {
    font-size: 60px;
  }

}






