.contact-section {
  position: relative;
  min-height: 100vh;
  border: 1px solid transparent;

  .wrapper {
    background-color: #bebebe;
  }

  h1 {
    margin-top: 0;
    margin-bottom: 5rem;
  }

  @media (max-width: $screen-sm) {
    h1 {
      margin-top: 50px;
    }
  }

  @media (min-width: $screen-lg) {
    h1 {
      margin-top: -5px;
    }
  }
  p {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .contact-item {
    display: flex;
    align-items: center;
    min-width: 300px;
    font-size: larger;
    margin: 0 0 3rem 5rem;
  }

  .icon-mail,
  .icon-twitter {
    height: 50px;
    width: 50px;
    margin-right: 1rem;
  }


  .credits {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 25rem;
    height: 2rem;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;

    .noun{
      position: relative;
      top: 3rem;

      font-size: 0.7rem;
      transition: all .4s ease-out;
    }
    .lnr {
      padding: 0.5rem;
    }

    &:hover {
      .noun {
        top: 0.5rem;
        transition: all .3s ease-out;
        a:hover {
          text-decoration: underline;
        }
      }
    }


  }


}
