.bis {
  .intro-bis {
     background-color: #00d4b4;
  }

  .ux-bis {
    background-color: #00a28a;
  }


  .dev-bis {
    background-color: #003b32;
    height: 250vh;
  }

  .design-bis {
    background-color: #002621;
  }

}
