about-section {

  min-height: 100vh;
  border: 1px solid transparent;
  header {

    //color: $color-white;

    h1 {
      margin: 0px;
    }
    @media (max-width: $screen-sm) {
      h1 {
        margin-top: 50px;
      }
    }

    @media (min-width: $screen-lg) {
      h1 {
        margin-top: -5px;
      }
    }
  }
  main {
    background-color: $gray-light;
    //color: #f3f3f3;
    padding: 0 0 5rem 0;
    .container {
      max-width: 50rem;
    }

    .about-quote {
      margin-left: 2rem;
      font-style: italic;
      font-weight: bold;

      a {
        color: #eaeaea;
      }

      a:hover {
        text-decoration: underline;
      }
    }

    .success-list {
      list-style: circle;
      margin: 1.5rem 0;
      li {
        margin-bottom: 0.5rem;
      }
    }
  }

  .logo-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;

    li {
      min-width: 120px;
      max-width: 120px;
      margin: 0.5rem 1rem;
      img {
        display: block;
        width: 100%;
        height: auto;
        margin: 0 auto;
      }
    }

    @media (max-width: $screen-sm) {

      li {
        min-width: 20vw;
        max-width: 20vw;
        margin: 1rem 2rem;
      }
    }

  }
}
