.weather-plus {

  .summary-weather-plus {

  }

  .ux-weather-plus {
    padding: $padding-base-vertical $padding-base-horizontal;

    .wf-img {
      height: auto;
    }

  }

  .dev-weather-plus {
  }

  .design-weather-plus {
    padding: 2rem 0;
  }

}

