@import "../variables";

.side-nav {
  position: fixed;
  top: 0;
  height: 100%;
  max-width: $side-nav-width;
  //background-color: #ccc9c3;
  //border-right: 1px solid $gray-lighter;
  overflow: hidden;
  z-index: $index-top;
  //TODO create white background container width 0 - 100%;
  transition: none;
  //transition: max-width 0.2s ease-in;
  opacity: 0;


  @media (max-width: $screen-sm) {
    background-color: transparent;
    border: none;
    transition: none;
  }

  .nav-wrap {
    height: 120px;
  }


  &:hover {
    max-width: 80vw;
    background-color: white;
    transition: max-width 0.4s ease-in-out;
    border-right: 1px solid $gray-lighter;
  }

  .section-indicator {
    height: 100%;

    ul {
      margin-top: 28vh;
      margin-right: 1rem;
      list-style-image: url('/assets/images/list-inactive.svg');
      li {
        margin: 1rem 0;
        padding-left: 2rem;
        white-space: nowrap;
        cursor: pointer;

        @media (max-width: $screen-sm) {
          font-size: smaller;
          padding-left: 1rem;
        }
      }

      li.active {
        list-style-image: url('/assets/images/list-active.svg');
      }
    }
  }

}
