.section-work {
  position: relative;
  .side-nav {
    position: fixed;
    height: 100%;
    width: 60px;
    background-color: white;

    .logo {
      display: block;
      height: 30px;
      width: 30px;
      margin: $padding-large-vertical auto;
    }
  }

}
