.navbar {
  border-bottom: 1px solid $color-grey-middle;
  ul {
    @include flex-container();
    width: 100%;
    justify-content: flex-end;
    padding: 0 $padding-base-horizontal;
  }
  .menu-item {
    position: relative;
    top: 2px;
    margin: $padding-base-vertical $padding-base-horizontal 0 $padding-base-horizontal;
    padding: 0 $padding-small-vertical;
    border-bottom: 3px solid transparent;
    a {
      text-decoration: none;
      color: $color-text;
    }

    &:hover{
      border-bottom: 2px solid red;
    }
    &.active {
      border-bottom: 2px solid $color-grey-dark;
    }
  }

}

.home-section {


}
