$border-width : 15px;
$overlay-margin: 25px;

.home-section {

  position: relative;
  height: calc(100vh - #{$border-width} * 2);
  width: calc(100vw - #{$border-width} * 2);
  border: $border-width white solid;

  .content-overlay {
    position: absolute;
    top: #{$overlay-margin};
    left: calc(50vw + #{$overlay-margin});
    height: calc(100vh - #{$border-width} * 2 - (#{$overlay-margin} *2) );
    width: calc(50vw - #{$border-width} * 2 - (#{$overlay-margin} *2));

    color: white;
    z-index: 99999;
    pointer-events: none;
  }

  .img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    left: calc(50vw + #{$overlay-margin});
    height: calc(100vh - #{$border-width} * 2);
    width: calc(100vw - #{$border-width} * 2);
    background-color: rgba(black, 0.2);
    pointer-events: none;
  }


  .content-overlay-grey {
     @extend .content-overlay;
    background-color: rgba(black, 0.6);
  }

  .content-overlay-blue {
    @extend .content-overlay;
    background-color: rgba(blue, 0.6);

  }




}
