.home-section {
  $spacer-size: 9rem;
  min-height: 100vh;

  @extend .container;
  padding-top: 50px;

  header {
    padding: 5rem 3rem 0 3rem ;
    text-align: center;
    h1 {
      font-size: 300%;
      margin-bottom: 3rem;
    }
    margin-bottom: 3rem;
  }

  .separator {
    width: 13vw;
    margin: 0 auto;
    border-bottom: 4px solid $color-accent;
  }

  .thumbnail {
    height: $spacer-size;
  }

  .thumbnail {
    flex-grow: 1;
    min-width: 350px;
    border: 1px solid $color-black;
    margin: 0.5rem;
    overflow: hidden;

    a {
      display: flex;
      flex-direction: column;
      //justify-content: center;
      align-items: center;
      height: 100%;
      text-decoration: none;
      color: $color-grey-dark;
    }

    &-icon {
      position: relative;
      height: 3rem;
      margin-top: 0;
      transition: all 0.4s ease-in;
    }

    .read-more {
     visibility: hidden;
    }

    &:hover {
      .read-more {
        visibility: visible;
      }

      .thumbnail-icon {
       // margin-top: 9rem;
      }
    }

  }


  .thumbnail.bis {
    flex-basis: 45rem;
    //background-color: rgba(#FBD11C, 0.7);
  }

  .thumbnail.pem {
    flex-basis: 40rem;
    //background-color: #9bad73;
  }

  .thumbnail.weather-plus {
    flex-basis: 60rem;
    border-left: none;
  }

  .thumbnail.turnip {
    flex-basis: 35rem;
    border-left: none;
    //background-color: #2d576b;
  }


}
