

.menu-bg {
  position: fixed;
  top: 25px;
  left: 25px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $menu-bg-color;
  padding: 0.5rem;
  z-index: $index-menu;
  .tcon {
    position: relative;
    top: 5px;
    left: -1px;
  }

  transition: transform .3s ease-out;
}

.menu-bg.open {
  transform: scale(70);
  transition: transform .3s ease-in;
}

.menu-btn {
  position: fixed;
  top: 35px;
  left: 29px;
  z-index: 999;
  transition: s
}

.menu-btn:hover {

}

.menu ul {
  position: fixed;
  top: 20vh;
  left: 30vw;
  margin: 0;
  padding: 0;
  list-style: none;
  backface-visibility: hidden;
  color: white;
  z-index: 999;
  pointer-events: none;

  @media (max-width: $screen-sm) {
    left: 5vw;
  }
}

.menu ul li {
  position: relative;
  margin-bottom: 10px;
  padding: 5px 0 5px 8px;
  opacity: 0;
  cursor: pointer;
  visibility: hidden;
  background-color: $menu-bg-color;
  font-size: 3em;
  transition: transform .3s, opacity .2s, visibility 0s 0.3s;

  span {
    position: relative;
    display: inline-block;
    padding: 0.5rem 1rem;
  }

  span::before,
  span::after {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0;
    transition: opacity 0.35s, transform 0.35s;
  }

  span::before {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    transform: scale(0,1);
  }

  span::after {
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    transform: scale(1,0);
  }


}

.menu ul .active {
  color: #7cfc00;
}

.menu ul li:hover {

  //background-color: #191919;

  span{
   font-weight: bold;
  }

  span::before,
  span::after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

}

.menu ul li:first-child {
  transform: translate3d(-8rem, 0%, 0);
}

.menu ul li:nth-child(2) {
  transform: translate3d(-12rem, 0%, 0);
}

.menu ul li:nth-child(3) {
  transform: translate3d(-16rem, 0, 0);
}


.menu.open ul li {
  visibility: visible;
  opacity: 1;
  transition: transform 0.5s, opacity 0.2s;
  transition-delay: .1s;
  transform: translate3d(0, 0, 0);
  pointer-events: all;
}



