<nav class="nav-menu">
  <div class="menu-bg" ng-class="{'open': isMenuOpen }">
  </div>
  <button type="button" class="menu-btn tcon tcon-menu--xbutterfly" aria-label="toggle menu" ng-click="toggleMenu()">
    <span class="tcon-menu__lines" aria-hidden="true"></span>
    <span class="tcon-visuallyhidden">toggle menu</span>
  </button>
  <nav class="menu" ng-class="{'open': isMenuOpen }">
    <ul>
        <li id="home" ng-click="navigate('home')">
            <span>Recent work</span>
        </li>
        <li id="about" ng-click="navigate('about')">
            <span>About</span>
        </li>
        <li id="contact" ng-click="navigate('contact')">
            <span>Contact</span>
        </li>
    </ul>
  </nav>
</nav>
